// Colors
$grey: #4e4e50;
$lighter-black: #2227;
$cello: #ec8b5e;
$primary: #00ACC1 !default;
$white: #ffffff !default;
$black: #000000 !default;
$success: #41b3a3 !default;
$warning: #e8a87c !default;
$danger: #e27d60 !default;
$info: #c38d9e !default;

$colors: (
  "primary": $primary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "info": $info,
  "white": $white,
  "black": $black,
  "grey": $grey,
  "lighter-black": $lighter-black,
  "cello": $cello
) !default;

@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: #{$value} !important;
  }
}

$primary-light-1: mix($white, $primary, 10%) !default;
$primary-light-2: mix($white, $primary, 20%) !default;
$primary-light-3: mix($white, $primary, 30%) !default;
$primary-light-4: mix($white, $primary, 40%) !default;
$primary-light-5: mix($white, $primary, 50%) !default;
$primary-light-6: mix($white, $primary, 60%) !default;
$primary-light-7: mix($white, $primary, 70%) !default;
$primary-light-8: mix($white, $primary, 80%) !default;
$primary-light-9: mix($white, $primary, 90%) !default;

$text-primary: #161b21 !default;
$text-regular: #5f6366 !default;
$text-secondary: #1d1b1b !default;
$text-placeholder: #c38d9e !default;
$border-color-base: $primary !default;
$border-color-light: mix($white, $border-color-base, 20%) !default;
$border-color-lighter: mix($white, $border-color-base, 40%) !default;
$border-color-extra-light: mix($white, $border-color-base, 80%) !default;

$calendar-selected-background-color: #c0c4cc !default;
$background-color-base: #c0c4cc !default;
