@import "colors";
@import "flexbox";
@import "profile";
@import "login";

@import url("https://fonts.googleapis.com/css?family=Gugi|Roboto+Slab");

.background-box {
  width: 100vw;
  height: 100vh;
}

body,
html {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: $grey;
}

.main-container-view {
  height: 100%;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
}

.section-container-view {
  margin: 50px;
  padding: 20px;
  width: 95%;
  height: 90vh;
  display: flex;
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include align-content(stretch);
  @include justify-content(space-around);
}

.section-container-card {
  box-shadow: 0 0 1em 0.2em $lighter-black !important;
  width: 20%;
  height: 50%;
}
.section-container-card-big{
  box-shadow: 0 0 1em 0.2em $lighter-black !important;
  width: 30%;
  height: 30%;
}

.section-container-card-bigger{
  box-shadow: 0 0 1em 0.2em $lighter-black !important;
  width: 50%;
  height: 50%;
}



.container-card {
  display: flex;
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);
  @include flex-direction(column);
}



.sidebar-collapsed {
  width: 64px !important;
}

.sidebar-not-collapsed {
  width: 300px !important;
}

.link-item {
  font-weight: bold;
  text-decoration: none;
  color: $primary;
}

.gugi-text{
  font-family: "Gugi", cursive !important;
}

.roboto-text {
  font-family: "Roboto", sans-serif !important;
}






